{{#globalHeader}}{{/globalHeader}}

<div class="container about-container">
	<div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
		<ul class="nav nav-pills nav-stacked side-nav">
		  <li class="active"><a>About Us</a></li>
		  <li><a>Services &amp; Support</a></li>
		  <li><a>Team</a></li>
		  {{!-- <li><a>Client Testimonials</a></li> --}}
		  <li><a>Partners</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 about-us-content about-section">
			<h1>About Us</h1>
			<p>Octus is smart, integrated and intuitive recruitment management software optimised for small to medium sized recruitment agencies. It is designed to make your life easier and your business more productive.</p>
			<p>It is a solution combining an applicant tracking system, job posting functionality and client relationship management tool into one platform.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 service-content about-section">
			<h1>Services &amp; Support</h1>
			<p>All our clients will have a named account manager responsible for your first line of support.</p>
			<p>We are dedicated to providing a magical support experience whenever you require it.</p>
			<p>Further to this, your account manager will reach out regularly to discuss if there are any improvements or additions that can be made to your system.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 team-content about-section">
			<h1>The Team</h1>
			<p>The team is built up of professionals with expert level knowledge in their field.</p>
			<div class="team-container">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img class="center-block img-circle" src="img/sam.jpg">
					<h3 class="text-center">Sam Randall</h3>
					<h5 class="text-center"><em>Director - Operations</em></h5>
				</div>
				{{!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img class="center-block img-circle" src="img/keith.jpg">
					<h3 class="text-center">Keith Loose</h3>
					<h5 class="text-center"><em>Director - Technology</em></h5>
				</div> --}}
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img class="center-block img-circle" src="img/jak.jpg">
					<h3 class="text-center">Jak Allday</h3>
					<h5 class="text-center"><em>Director - Sales</em></h5>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img class="center-block img-circle" src="img/aselle.jpg">
					<h3 class="text-center">Aselle Safiullina</h3>
					<h5 class="text-center"><em>Sales Manager</em></h5>
				</div>
			</div>
			<div class="team-container">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img class="center-block img-circle" src="img/nick.jpg">
					<h3 class="text-center">Nicholas Teo</h3>
					<h5 class="text-center"><em>Frontend Engineer</em></h5>
				</div>
			</div>
		</div>
		{{!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 testimonials-content about-section">
			<h1>Client Testimonials</h1>
			<p>None...</p>
		</div> --}}
		<div class="partners-content about-section">
			<h1>Our Partners</h1>
			<div class="center-block partners-container">
				<div class="col-xs-12 col-md-3">
					<img class="center-block partner-logo" src="img/daxtra_logo.jpg">
				</div>
				<div class="col-xs-12 col-md-3">
					<img class="center-block partner-logo" src="img/ikm_logo.jpg">
				</div>
				<div class="col-xs-12 col-md-3">
					<img class="center-block partner-logo" src="img/psytech_logo.jpg">
				</div>
				<div class="col-xs-12 col-md-3">
					<img class="center-block partner-logo" src="img/spring_logo.jpg">
				</div>
			</div>
		</div>
	</div>
</div>