{{#globalHeader}}{{/globalHeader}}

<div class="container careers-container">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		<h1>Join Our Team!</h1>
		<p>
			<h3>We are always keen to speak with exciting people.</h3>
		</p>
		<p>
			<h3>If you have a background in technology or recruitment and would like to discuss opportunities, please get in touch!</h3>
		</p>
		<p>
			<h3>Reach us at <a href="mailto:recruitment@octus.com.sg">recruitment@octus.com.sg</a></h3>
		</p>
	</div>
</div>