{{#globalHeader}}{{/globalHeader}}

<div class="container features-container">
	<div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
		<ul class="nav nav-pills nav-stacked side-nav">
		  <li class="active"><a>Overview</a></li>
		  <li><a>Accessibility</a></li>
		  <li><a>Integration</a></li>
		  <li><a>Productivity</a></li>
		  <li><a>Security</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
		<div class="feature-overview-content features-section">
			<h1>Overview</h1>
			<p>Octus is a next-generation recruitment system designed to manage every aspect of a recruiter's job.</p>
			<p>Our system takes you through job posting, candidate tracking to client interactions and invoicing. We also deliver in-depth activity analyses to enlighten you on factors critical to your business success.</p>
		</div>
		<div class="accessibility-content features-section">
			<h1>Accessibility</h1>
			<p>Octus is hosted in the cloud and the interface is web browser based. This means you can access your recruitment system and database from anywhere.</p>
		</div>
		<div class="integration-content features-section">
			<h1>Integration</h1>
			<p>Octus is integrated with email, phone, calendar, social media and your website.</p>
		</div>
		<div class="productivity-content features-section">
			<h1>Productivity</h1>
			<p>One of the joys with Octus being a fully integrated system is we can deliver unprecedented access to your information. We provide full and detailed consultant and management dashboards, with simple ways to set and monitor activity levels across your business globally.</p>
			<p>Octus allows you to custom build reports to show you what you want to see.</p>
			<p>We generate insights into your business and present the activity trends, efficiency and productivity of your best consultants.</p>
		</div>
		<div class="security-content features-section">
			<h1>Security</h1>
			<p>We understand that your database is your competitive edge and intellectual property. As such our system is augmented with intuitive security &amp; access functions.</p>
			<p>Super Admins (Company owners / Senior Managers) are able to limit functionality and access for each individual user based on the location of that user. There are also varying levels of access.</p>
			<p>You possess the power &amp; convenience of a cloud based system, without losing control of your data.</p>
		</div>
	</div>
</div>