{{#globalHeader}}{{/globalHeader}}

<!-- Begin first panel -->
<div class="home-slide-panel panel-1">
	<!-- Desktop version. Animation shown -->
	<div class="col-md-6 pitch-question">
		<div class="text-right slide-content question-1">
			Ever used a recruitment system and thought:
		</div>
		<div class="text-right slide-content question-2">
			Why does this have to be so difficult?
		</div>
		<div class="text-right slide-content question-3">
			Us too.
		</div>
	</div>

	<div class="col-md-6 pitch-features">
		<div class="text-right slide-content features-1">
			Accessibility
		</div>
		<div class="text-right slide-content features-2">
			Integration
		</div>
		<div class="text-right slide-content features-3">
			Productivity
		</div>
		<div class="text-right slide-content features-4">
			Security
		</div>
	</div>

	<div class="col-md-12 pitch-logo">
		<img class="center-block" src="img/logo.png">
	</div>
	<!-- Mobile version. No video -->
	<!-- <div class="slide-content">

	</div> -->
</div>
<!-- End first panel -->

<!-- Begin second panel -->
<div class="home-slide-panel panel-2">
	<div class="container slide-content">
		<div class="col-xs-12 col-md-6">
			<h1 class="col-xs-12 col-md-12 text-center red">
				Octus injects power into your recruitment process. 
			</h1>
			<h3 class="col-xs-12 col-md-12 text-center gray">
				Recruiting has always been a painful process. Octus presents a stable, fast and flexible solution for your needs
			</h3>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="center-block tablet">

				<div id="screenshot-carousel" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="img/dashboard_screen.jpg" alt="dashboard">
						</div>
						<div class="item">
							<img src="img/headofsales_screen.jpg" alt="country monitor">
						</div>
						<div class="item">
							<img src="img/kpi_screen.jpg" alt="email">
						</div>
						<div class="item">
							<img src="img/reference_screen.jpg" alt="email">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End second panel -->

<!-- Begin third panel -->
<div class="home-slide-panel panel-3">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center red">
			Octus Solves Problems
		</h1>
		<h4 class="col-xs-12 col-md-8 col-md-offset-2 text-center navy">
			At Octus, we believe in stable solutions to problems. Our smart, integrated and intuitive recruitment management software armed with reliable features is the only thing you'll ever need.
		</h4>
	</div>

	<div class="col-xs-12 col-md-12">
		<!-- Accessibility -->
		<div class="feature feature-accessibility">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="center-block" src="img/accessibility.png">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h3 class="red bold">
					Accessibility
				</h3>
				<ul class="gray">
					<li>Intuitive Web based UI</li>
					<li>Full functionality on PC, MAC, Mobile, Tablet</li>
					<li>End to End Recruitment Process Management</li>
					<li>Cloud Hosted</li>
				</ul>
			</div>
		</div>

		<!-- Integration -->
		<div class="feature feature-integration visible-xs">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="center-block" src="img/integration.png">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h3 class="red bold">
					Integration
				</h3>
				<ul class="gray">
					<li>Email &amp; Calendar</li>
					<li>Phone &amp; SMS</li>
					<li>Job Boards</li>
					<li>Searching</li>
					<li>Partners: Daxtra, IKM, Psytech</li>
				</ul>
			</div>
		</div>

		<!-- Productivity -->
		<div class="feature feature-productivity visible-xs">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="center-block" src="img/productivity.png">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h3 class="red bold">
					Productivity
				</h3>
				<ul class="gray">
					<li>Bespoke Analytics</li>
					<li>Save Time With Reduced Effort Duplication</li>
					<li>Smart Calender For Timely Alerts &amp; Reminders</li>
				</ul>
			</div>
		</div>

		<!-- Security -->
		<div class="feature feature-security visible-xs">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="center-block" src="img/security.png">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h3 class="red bold">
					Security
				</h3>
				<ul class="col-md-8 gray">
					<li>Controllable Usage</li>
					<li>Complete Data Monitoring</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-4 feature-nav visible-md visible-lg">
		<div class="col-md-3 feature-nav-icon nav-accessibility">
			<img class="img-circle" src="img/accessibility_icon.png">
		</div>
		<div class="col-md-3 feature-nav-icon nav-integration desaturate">
			<img class="img-circle" src="img/integration.png">
		</div>
		<div class="col-md-3 feature-nav-icon nav-productivity desaturate">
			<img class="img-circle" src="img/productivity.png">
		</div>
		<div class="col-md-3 feature-nav-icon nav-security desaturate">
			<img class="img-circle" src="img/security.png">
		</div>
	</div>
</div>
<!-- End third panel -->

<!-- Begin fourth panel -->
<div class="home-slide-panel panel-4">
	<div class="col-xs-12 col-md-12">
		<img class="center-block" src="img/celebrate.png">
	</div>
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center red">
			Recruiters, Celebrate
		</h1>
		<h4 class="col-xs-12 col-md-8 col-md-offset-2 text-center navy">
			Yes, Octus Is For You.
		</h4>
		<h4 class="col-xs-12 col-md-8 col-md-offset-2 text-center navy">
			From job posting (to job boards and social media), tracking candidates &amp; client interactions to issuing and tracking invoicing, Octus does it all.
		</h4>
		<h4 class="col-xs-12 col-md-8 col-md-offset-2 text-center navy">
			On top of all that, we serve detailed analytics of each process to keep you informed every step of the way.
		</h4>
	</div>
</div>
<!-- End fourth panel -->

<!-- Begin fifth panel -->
<div class="home-slide-panel panel-5">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center">Try Us Out. You'll Like It</h1>
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<button class="center-block btn btn-lg btn-danger" data-toggle="modal" data-target=".contact-modal">Start A Free Trial Now</button>
		</div>
	</div>
</div>
<!-- End fifth panel -->

<!-- Begin sixth panel -->
<div class="home-slide-panel panel-6">
	<div class="col-xs-12 col-md-7">
		<div class="col-xs-12 col-md-3 col-md-offset-1 text-center divider">
			<h5>Copyright 2014 Octus</h5>
		</div>
		<div class="col-xs-12 col-md-3 text-center divider">
			<h5>Terms of Service</h5>
		</div>
		<div class="col-xs-12 col-md-3 text-center divider">
			<h5>News / Blog</h5>
		</div>
		<div class="col-xs-12 col-md-2 text-center">
			<h5>Contact Us</h5>
		</div>
	</div>
	<div class="col-xs-12 col-md-5 social-icons">
		<div class="col-xs-4 col-md-2 col-md-offset-4 social-facebook">
			<a href="https://www.facebook.com/octusrecruitment" target="_blank">
				<img class="center-block img-circle red-hue" src="img/fb_icon.png">
			</a>
		</div>
		<div class="col-xs-4 col-md-2 social-linkedin">
			<a href="https://www.linkedin.com/company/octus-pte-ltd" target="_blank">
				<img class="center-block img-circle red-hue" src="img/linkedin_icon.png">
			</a>
		</div>
		<div class="col-xs-4 col-md-2 social-googleplus">
			<a href="https://plus.google.com/u/0/110131833217889792669/about" target="_blank">
				<img class="center-block img-circle red-hue" src="img/gplus_icon.png">
			</a>
		</div>
	</div>
</div>
<!-- End sixth panel -->